<%- include('layout/header') %>
<link rel="stylesheet" href="/css/usuarios.css">

<body>
    <h1>LISTA DE ESTUDIANTES</h1>
    <div class="nav">
        <a href="/students">Estudiantes</a>
    </div>
    <div class="nav">
        <a href="/usuarios">Usuarios</a>
    </div>
    <div class="nav">
   <a href= "/usuarios/Inicio">Inicio</a>
</div>
<% if (role === 'Admin') { %>
    <div class="form-container">
        <h2>Agregar Nuevo Estudiante</h2>
        <form id="add-students-form" method="post" action="/students">
            <label for="Nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required placeholder="Nombre del Estudiante">
        
            <label for="edad">Edad:</label>
            <input type="number" id="edad" name="edad" required placeholder="Ingrese la edad">
        
            <label for="carrera">Carrera:</label>
            <input type="text" id="carrera" name="carrera" required placeholder="Carrera">
        
            <button type="submit">Agregar Estudiante</button>
        </form>
    </div>
    <% } %>

    <!-- Formulario para Buscar Estudiantes por Nombre -->
    <div class="form-container">
        <h2>Buscar Estudiantes por Nombre</h2>
        <form id="search-form" onsubmit="searchStudent(event)">
            <label for="search-name">Buscar por nombre:</label>
            <input type="text" id="search-name" name="nombre" placeholder="Nombre del Estudiante">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <!-- Ajuste del Formulario para Buscar por Carrera -->
    <div class="form-container">
        <h2>Buscar por Carrera</h2>
        <form id="search-career-form" onsubmit="searchCareer(event)">
            <label for="search-career">Buscar por carrera:</label>
            <input type="text" id="search-career" name="carrera" placeholder="Carrera">
            <button type="submit">Buscar</button>
        </form>
    </div>

    <div class="form-container">
        <h2>Contar Estudiantes</h2>
        <a href="/students/count">Mostrar Total de Estudiantes</a>
    </div>

    <div id="message" class="message success">Refresca la página para ver los cambios</div>

    <ul id="students-list">
        <h2>Mostrar Estudiantes</h2>
        <% students.forEach(student => { %>
            <li>
                <div class="container">
                    <p>ID: <%= student.id %> - Nombre: <%= student.nombre %></p>
                    <p>Edad: <%= student.edad %> - Carrera: <%= student.carrera %></p>
                </div>
    
                <% if (role === 'Admin') { %>
                <div>
                    <button class="edit-button" onclick="editStudent('<%= student.id %>', '<%= student.nombre %>', '<%= student.edad %>', '<%= student.carrera %>')">Editar</button>
                    <button class="delete-button" onclick="deleteStudent('<%= student.id %>')">Eliminar</button>
                </div>
                <% } %>
            </li>
        <% }); %>
    </ul>
    
    <% if (role === 'Admin') { %>
        <div class="form-container" id="edit-students-form-container" style="display:none;">
            <h2>Editar Estudiante</h2>
            <form id="edit-students-form-container" onsubmit="updateStudent(event)">
                <input type="hidden" id="edit-id" name="id">
            
                <label for="edit-Nombre">Nombre:</label>
                <input type="text" id="edit-nombre" name="nombre" required>
                
                <label for="edit-edad">Edad:</label>
                <input type="number" id="edit-edad" name="edad" required placeholder="Ingrese la edad">
            
                <label for="edit-carrera">Carrera:</label>
                <input type="text" id="edit-carrera" name="carrera" required placeholder="Ingrese la Carrera">
            
                <button type="submit">Actualizar Estudiante</button>
            </form>
        </div>
        <% } %>
    <div class="footer">
        Integrantes:<br>
        Br. Miguel Suarez. CI. V-28.206.469<br>
        Profesor: Yerson Gonzalez<br>
        Materia: Backend
    </div>

    <script>
        function searchStudent(event) {
            event.preventDefault(); // Evita el envío del formulario tradicional
            const nombre = document.getElementById('search-name').value;
            if (nombre) {
                const url = `/students/search/${encodeURIComponent(nombre)}`; // Construye la URL
                window.location.href = url; // Redirige a la URL de búsqueda
            } else {
                alert('Por favor, ingresa un nombre para buscar.');
            }
        }

        function searchCareer(event) {
            event.preventDefault(); // Evita el envío del formulario tradicional
            const carrera = document.getElementById('search-career').value;
            if (carrera) {
                const url = `/students/carrera/${encodeURIComponent(carrera)}`; // Construye la URL con la carrera
                window.location.href = url; // Redirige a la URL de búsqueda por carrera
            } else {
                alert('Por favor, ingresa una carrera para buscar.');
            }
        }

        function deleteStudent(id) {
            fetch(`/students/${id}`, { // Asegúrate de que esta ruta coincida con la que maneja la eliminación
                method: 'DELETE'
            })
            .then(() => {
                window.location.reload();
            })
            .catch(err => console.error('Error:', err));
        }

        function editStudent(id, nombre, edad, carrera) {
            document.getElementById('edit-id').value = id;
            document.getElementById('edit-nombre').value = nombre;
            document.getElementById('edit-edad').value = edad;
            document.getElementById('edit-carrera').value = carrera;
            document.getElementById('edit-students-form-container').style.display = 'block';
        }

        function updateStudent(event) {
            event.preventDefault();

            const id = document.getElementById('edit-id').value;
            const json = {
                nombre: document.getElementById('edit-nombre').value,
                edad: document.getElementById('edit-edad').value,
                carrera: document.getElementById('edit-carrera').value,
            };

            fetch(`/students/${id}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(json)
            })
            .then(() => {
                document.getElementById('edit-students-form-container').style.display = 'none';
                window.location.reload();
            })
            .catch(err => console.error('Error:', err));
        }
    </script>
</body>
